@import "tailwindcss";

@source "../../components/**/*.{js,vue,ts}";
@source "../../layouts/**/*.vue";
@source "../../pages/**/*.vue";
@source "../../plugins/**/*.{js,ts}";
@source "../../app.vue";
@source "../../node_modules/flowbite/**/*.{js,ts}";

@theme {
  --color-*: initial;
  --font-*: initial;
}

@layer base {
  :root {
    color-scheme: light dark;
  }
}

@plugin "flowbite/plugin";
