@import "tailwindcss";

@layer base {
  /* Light mode (default) */
  :root {
    color-scheme: light;
  }

  html {
    @apply antialiased bg-white text-gray-900;
  }

  /* Dark mode */
  html.dark {
    color-scheme: dark;
    @apply bg-gray-900 text-gray-100;
  }
}

@plugin "flowbite/plugin";
